extends layout

block content

  //- Sección principal
  header
    div(class='container' id='maincontent' tabindex='-1')
      div(class='row')
        div(class='col-lg-12')
          img(class='img-responsive' src='/img/profile.png')
          div(class='intro-text')
            h1(class='name') Andres Luque
            hr(class='star-light')
            span(class='skills') Full Stack Developer
  
  //- Sección del portafolio
  include portafolio

  include about
