section(id='portfolio')
    div.container
        div.row
            div(class='col-lg-12 text-center')
                h2 Portafolio
                hr.star-primary
        div.row
            div(class='col-sm-4 portfolio-item')
                a(href='#portfolioModal1' class='portfolio-link' data-toggle='modal')
                    div.caption
                        div.caption-content
                            i(class='fa fa-search-plus fa-3x')
                    h2 P1
            div(class='col-sm-4 portfolio-item')
                a(href='#portfolioModal2' class='portfolio-link' data-toggle='modal')
                    div.caption
                        div.caption-content
                            i(class='fa fa-search-plus fa-3x')
                    h2 P2
            div(class='col-sm-4 portfolio-item')
                a(href='#portfolioModal3' class='portfolio-link' data-toggle='modal')
                    div.caption
                        div.caption-content
                            i(class='fa fa-search-plus fa-3x')
                    h2 P3